doctype html
html(lang='ko')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='initial-scale=1, minimum-scale=1, width=device-width')
        if title
            meta(property='title', content=title)
        if description
            meta(property='description', content=description)
        if keywords
            meta(property='keywords', content=keywords)
        meta(property='og:type', content='website')
        if title
            meta(property='og:title', content=title)
        if description
            meta(property='og:description', content=description)
        if ogImage
            meta(property='og:image', content=ogImage)
        title #{title}
        <!--[if IE 8]>
        script(src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/ie8/0.6.0/ie8.js')
        <![endif]-->
        each path in stylesheets
            link(rel='stylesheet' href=path)
    body
        div(id='app') !{html}
        each path in scripts
            script(src=path)
